@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(27,54,93,0);
    flex-direction: column;
    align-items: stretch;
}

#jitsiBox {
    flex-grow: 1;
}

#current * {
    text-align: center;
}

#queue {
    float: right;
}

.hide {
    display: none;
}
