@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    font-size: initial;
}
:root {
    font-size: 0.15vmin;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(27,54,93,0);
    flex-direction: column;
    align-items: stretch;
}

.hide {
    display: none;
}

#jitsiBox {
    flex-grow: 1;
}

#info {
    width: 60vmin;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #8a8b8e;
    border-radius: 2vmin;
    color: #fff;
    padding: 1vmin;
}
#teamNum { font-size: 22rem; }
#teamName { font-size: 16rem; }
#teamLoc { font-size: 13rem; font-style: italic; }
